
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.banner-text {
  margin: 2rem 0;
}
.row {
  margin-bottom: 30px;
}
.bg-grey {
  background-color: #EEEEEE;
}
.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}